.maleLitery {
  font-size: 0.65rem;
  font-style: italic;
}
.liniaTop {
  border-top: 1px solid black;
}
.liniaBottom {
  border-bottom: 1px solid black;
}
.liniaLeft {
  border-left: 1px solid black;
}
.liniaRight {
  border-right: 1px solid black;
}

.statusyWrapper table tr td {
  padding: 5px;
  border: black 1px solid;
}
.statusyWrapper table tr th {
  padding: 5px;
  border: black 1px solid;
}
.przyciskUsun {
  visibility: hidden;
  opacity: 0;
}
tr:hover .przyciskUsun {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.przyrzadWrapper {
  background-color: #e3e3e3;
}
.czerwony {
  color: red;
}
